html {
  scroll-behavior: smooth;
}
body {
  background-color: #1A5F7A;
  color: white;
}
footer {
  width: 100%;
  background: linear-gradient(to right, #000000, #272e38);
  color: white;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}
a .media:hover {
  color: #35858B;
  transition: 0.3s;
}
a .media2:hover {
  color: #35858B;
  transition: 0.3s;
}

.header2 {
  margin: 5% auto 0;
  font-family: 'Space Mono', monospace;
  color: black;
  font-size: 250%;
  position: relative;
  left: 20%;
  padding-bottom: 15px;
  font-weight: normal;
  margin-bottom: 0;
}
.media {
  margin-top: 5%;
  position: absolute;
  margin-left: 25%;
  left: 25%;
  text-decoration: none;
  color: white;
}
.media2 {
  margin-top: 5%;
  position: absolute;
  margin-left: 25%;
  left: 35%;
  text-decoration: none;
  color: white;
}
.space {
  margin: 0 1rem 0 1rem;
}

.rajdhani {
  font-family: 'Rajdhani', sans-serif;
}
.carousel-img {
  height: 500px;
  min-width: 500px;
  border-radius: 30px;
  margin: 0 auto;
}
.home-image {
  height: 780px;
  background-image: url("images/jupiter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.home {
  height: 640px;
  width: 100%;
  background-color: #10100F;
  margin: 0;
  padding: 0;
  text-align: center;
}

.box1 {
  margin: 0 auto;
  margin-top: 74.82px;
  box-sizing: border-box;
  height: 250px;
  max-width: 500px;
  box-shadow: rgba(0, 181, 204, 0.4) -5px 5px, rgba(30, 139, 195, 0.3) -10px 10px, rgba(1, 1, 122, 0.2) -15px 15px, rgba(37, 41, 88, 0.1) -20px 20px, rgba(8, 14, 44, 0.05) -25px 25px;
}
.box2 {
  position: absolute;
  top: 50px;
  height: 350px;
  min-height: 350px;
  width: 40%;
  margin-left: 17.5%;
  min-width: 40%;
  text-align: left;
  box-shadow: rgba(0, 181, 204, 0.4) 5px 5px, rgba(30, 139, 195, 0.3) 10px 10px, rgba(1, 1, 122, 0.2) 15px 15px, rgba(37, 41, 88, 0.1) 20px 20px, rgba(8, 14, 44, 0.05) 25px 25px;
  box-sizing: border-box;
}

.inBox {
  margin: 30px auto;
  font-size: 12px;
  font-family: "Space Mono", monospace;
  max-width: 350px;
}
.box2 .inBox{
  margin: 0 auto;
  color: black;
  margin-left: 20%;
}
.carousel-item {
  text-align: center;
}
.terraforming-img {
  background-image: url("https://resources.perkinelmer.com/lab-solutions/resources/images_for_resize/160680-1920x400.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-width: 100%;
}

.project {
  background-color: white;
  height: 880px;
  min-height: 880px;
  width: 100%;
}
.about-us {
  padding-top: 100px;
  height: 780px;
  width: 100%;
  background-color: #10100F;
}
/* Can design photos */
.can-design {
 position: absolute;
 right: 0;
 max-width: 25%;
 width: 25%;
 min-height: 400px;
 height: 440px;
}
.can-design2 {
  position: absolute;
  right: 0;
  margin-top: 440px;
  height: 440px;
  width: 25%;
  max-width: 25%;
}

.can-design3 {
  position: absolute;
  left: 0;
  margin-top: 500px;
  height: 380px;
  width: 37.5%;
}

.can-design4 {
  position: absolute;
  left: 37.5%;
  width: 37.5%;
  margin-top: 500px;
  height: 380px;
}
/*when screen size changes*/
@media (max-width: 1000px) {
  .home-image {
  height: 900px;
  width: 100%;
  background-image: url("images/jupiterOnPhone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
 }
 .home {
   height: 640px;
   width: 100%;
   background-color: #10100F;
   margin: 0;
   padding: 0;
   text-align: center;
 }

 .project {
   background-color: #faf9fa;
   height: 800px;
   min-height: 800px;
 }

.can-design {
  min-width: 25%;
  width: 25%;
  height: 500px;
}

.can-design2 {
  min-width: 25%;
  width: 25%;
  margin-top: 500px;
  height: 300px;
}

.can-design3 {
  min-width: 37.5%;
  width: 37.5%;
  margin-top: 500px;
  height: 300px;
}

.can-design4 {
  min-width: 37.5%;
  width: 37.5%;
  margin-top: 500px;
  height: 300px;
}
 .about-us {
   height: 900px;
 }
.box1 {
 max-width: 400px;
}
.header2 {
  font-size: 150%;
}
.box2 {
  height: 300px;
  min-height: 400px;
}

}
@media (min-width: 1400px) {
  .home {
    height: 900px;
    width: 100%;
    background-color: #10100F;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .home-image {
  height: 1600px;
  background-image: url("images/jupiter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
 }


 .project {
   background-color: #faf9fa;
   height: 1000px;
   width: 100%;
 }
.about-us {
  height: 1000px;
}

.box1 {
  margin-top: 184.82px;
  max-width: 900px;
  height: 400px;
}
.inBox {
  font-size: 20px;
  margin: 30px auto;
  max-width: 750px;
}
.box2 {
  min-width: 40%;
  width: 40%;
  height: 500px;
  min-height: 500px;
}
.can-design {
  max-width: 25%;
  width: 25%;
  min-height: 600px;
  height: 600px;
}

.can-design2 {
  height: 380px;
  width: 25%;
  max-width: 25%;
  margin-top: 620px;
}
.can-design3 {
  width: 37.5%;
  max-width: 37.5%;
  height: 380px;
  margin-top: 620px;
}
.can-design4 {
  width: 37.5%;
  max-width: 37.5%;
  height: 380px;
  margin-top: 620px;
}
}

.header {
  margin: 0;
  font-family: 'Space Mono', monospace;
  text-align: center;
  font-size: 300%;
  color: white;
  padding-top: 100px;
}

.bg-dark {
  background-color: #000000 !important;
}
.rem3 {
  font-size: 3rem;
}
.carousel-changed {
  text-align: center;
  padding: 7% 15%;
}
.color {
  color: white;
}
.home-size {
  margin-top: 5.625%;
}
@media (max-width: 991px) {
  .home-size {
    margin-top: 18.5%;
  }
}
@media (min-width: 1400px) {
  .home-size {
    margin-top: 10.5%;
  }
}
@media (max-width: 706px) {
  .project {
    height: 1500px;
  }
  .box2 {
    margin: 0 15%;
    width: 70%;
    min-width: 70%;
  }
  .can-design {
    margin-top: 500px;
    width: 100%;
    max-width: 100%;
  }
  .can-design2 {
    display: none;
  }
  .can-design3 {
    margin-left: 50%;
    width: 50%;
    height: 500px;
    margin-top: 1000px;
   }
  .can-design4 {
    position: absolute;
    left: 0;
    width: 50%;
    height: 500px;
    margin-top: 1000px;
  }
}
.reveal {
  position: relative;
  /* transform: translateY(2px); */
  opacity: 0;
  transition: all 1s ease;
}
.active {
  /* transform: translateY(0); */
  opacity: 1;
}
.row {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.logo {
  max-width: 80px;
}
.column h3{
  width: fit-content;
  margin-bottom: 30px;
}



.header-img {
  height: 50px;
  width: 50px;
}
